<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>
            Posts
        </h4>
       <% if(locals.user) { %>
        <form action="/posts/create" id="new-post-form" method="post">
         <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
         <input type="submit" value="Post">
        </form>
       <% } %>
       
        <div id="posts-list-container">
         <ul>
             <% for(post of posts) { %>
               <%- include('_post') -%>
             <% } %>
         </ul>
        </div>
       
    </section>
       
    <section id="users-container">
        <div id="friends">
            <h4>Friends</h4>
            <% if(locals.user) { %>
                <% for(i of logged_in_user.friendships){%>
                    <% if (i.from_user.id != locals.user.id){ %>
                        <p>
                            <span><a href="/users/profile/<%= i.from_user.id %>"><%= i.from_user.name %></a></span>
                            <span>
                                <small>
                                    <a class="delete-friend-button" href="/friendships/remove-friend/<%= i._id %>">X</a>
                                </small>
                            </span>
                        </p>
                    <% }else{ %>
                        <p>
                            <span><a href="/users/profile/<%= i.to_user.id %>"><%= i.to_user.name %></a></span>
                            <span>
                                <small>
                                    <a class="delete-friend-button" href="/friendships/remove-friend/<%= i._id %>">X</a>
                                </small>
                            </span> 
                        </p>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <div id="users">
            <h4>Users</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <% } %>
        </div>
    </section>
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_posts.js"></script>
<script src="/js/home_post_comments.js" ></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
