<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>

<div>
    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="200">
</div>

<% if(locals.user.id == profile_user.id) { %>
<!-- if the logged in user is viewing his/her own profile -> show the update form    -->
<form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
<input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
<input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

<input type="file" name="avatar" placeholder="Profile Picture" >
<input type="submit" value="Update Details">       
</form>
<% } else {%>   
<!-- else show only the profile page -->
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<!-- Toggle friendship button -->
<a class="toggle-friend-button" href="/friendships/toggle/<%= profile_user._id %>">
    <% if(friendship){ %>
        <button type="submit">Delete Friend</button>
    <% }else { %>
        <button type="submit">Add Friend</button>
    <% } %>
    
</a>


<% } %>


<script src="/js/toggle_friendships.js"></script>  
